/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: AliceBlue;
}

header, footer {
  background-color: DarkCyan;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header a {
  color: #fff;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: snow;
}

h2 {
  color: #333;
}
 table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
 .container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  #candidate-img {
    width: 150px;
    height: 150px; /* Specify the height to maintain aspect ratio */
    border-radius: 50%;
    margin-right: 20px; /* Margin between image and details */
  }



/* Additional styles can be added as needed */
